div#contSongCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; 
}

.song-card {
    max-width: 300px;
    margin-bottom: 20px; 
}

mat-card-subtitle{
    display: flex;
}

p {
    margin-right: 5px;
} 