<label for="searchInput">Search</label>
<input  #searchText type="text" class="searchInput" (keyup)="search(searchText.value)" placeholder="Type your search...">

<div id="contSongCard">
    <mat-card class="song-card" *ngFor="let artist of artists">
        <mat-card-header>
        <mat-card-title>{{artist.name}}</mat-card-title>
        <mat-card-subtitle>
            
        </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="artist.images[0].url">
    </mat-card>
</div>